header.parent{
width:100%;
 background-color:lightslategray;
padding: 10px;
height:190px;
}
div.child{
color: lightslategray;
background-color: MintCream;
font-size: 200%;
margin-top: 10px;
}


#logo{

float:left; 
margin-left:165px; 
width:175px; 
height:175px;
margin-right: 10px;
margin-bottom:10px;
margin-top: 10px;
}

div.log{
font-size: 125%;
max-width:960px; 
margin: 0 auto; 
margin-top:20px;
padding:10px;
background-color:lightslategray;
color: whitesmoke;
display:flex;
justify-content:space-around;
align-items:center;
flex-wrap:wrap;
}

div.log2{
font-size: 125%;
max-width:960px; 
margin: 0 auto; 
margin-top:20px;
padding:10px;
background-color:lightslategray;
color:  whitesmoke;
}

tr.even {
background: RosyBrown;
}
footer.k{
width:100%;
background-color:lightslategray;
padding: 10px;
height:20px;
}
TABLE {
   border: 1px solid black;
   width: 100%;
  

}
td,tr,th {
   border: 1px solid black;
}